.example {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  font-size: 16px;
  background: purple;
  color: white;
  margin: 10px auto;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.sidebar {
  opacity: 0;
}
.sidebar.snazzy-enter-active {
  animation-duration: 2s;
  animation-name: fadeIn;
}
.sidebar.snazzy-leave {
  animation-duration: 2s;
  animation-name: fadeOut;
}

/*.snazzy {
  opacity: 0;
  position: relative;
  left: -200px;
}

.reveal {
  left: 0;
}

.fadeIn {
  transition: all .2s;
  opacity: 1;
}

.snazzy-enter {
  opacity: 1;
  transition: all 2s;
}*/