.example {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  font-size: 16px;
  background: purple;
  color: white;
  margin: 10px auto;
}

.sidebar {
  opacity: 0;
}
.sidebar.snazzy-enter {
  opacity: 1;
  animation-duration: 1s;
  animation-name: bounceIn;
}
.sidebar.snazzy-leave {
  animation-duration: 1s;
  animation-name: bounceOut;
}


